DATABASE_URL="mysql://user:password@localhost:3306/monkkit"
NEXTAUTH_SECRET="replace-with-random-32-char-string"
NEXTAUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
NEXT_PUBLIC_DONATE_URL="https://buymeacoffee.com/devopsmonk"
